.container-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

.container-pagination .btn-pagination {
  padding: 1rem 2rem;
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.container-pagination .btn-pagination:hover {
  background-color: #000;
  color: #fff;
}

.container-pagination .btn-pagination:disabled {
  background-color: #ccc;
  color: #eee;
  cursor: not-allowed;
  box-shadow: none;
}

.container-pagination .btn-pagination:disabled:hover {
  background-color: #ccc;
  color: #eee;
}

.container-pagination .btn-pagination:focus {
  outline: none;
}

.container-pagination span {
  padding: 0 2rem;
  font-size: 2rem;
}

.container-pagination .first-btn {
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.container-pagination .first-btn:disabled {
  cursor: not-allowed;
}
