.input-search {
  width: 50%;
  height: 6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #ccc;
  padding: 0 1rem;
  font-size: 2.8rem;
  color: #333;
  margin-bottom: 1rem;
  transition: box-shadow 0.2s ease-in-out;
}

.input-search:focus {
  outline: 1px solid #333;
  box-shadow: 0 0 0.6rem #333;
}

.input-search::placeholder {
  color: #ccc;
}
