.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
  margin: 0 auto;
}

.container-loading h1 {
  font-size: 50px;
  color: #ff4242;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
