.container-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: bold;
}

.container-not-found h1 {
  margin-bottom: 1rem;
  font-size: 6rem;
}

.container-not-found p {
  font-size: 3rem;
  font-weight: normal;
}

.container-not-found p strong {
  color: rgb(255, 59, 59);
}
